.App {
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 50px;
}

form {
  margin-bottom: 20px;
}

input {
  margin-right: 10px;
  padding: 5px;
}

button {
  padding: 5px 10px;
  margin-left: 5px;
}

table {
  margin: 0 auto;
  /* border-collapse: collapse; */
  width: 70%;
}

th, td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}

th {
  background-color: #f4f4f4;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}
